
<template>
    <article class="mx-6 message">
        <div class="message-body">
            <p>
                Wanting to know the default port of a service?
                You pour over the service doumentation then <emph>finally</emph> discover what port is used as a
                default&hellip;
            </p>
            <p>
                Or you could use <strong>What The Port?</strong> to quickly
                find and copy the port.
            </p>
            <p>
                <strong>Bookmark</strong> this page for easy searching.
            </p>
            <p>
                <strong>NOTE</strong> that these are defaults. The port on
                your system may differ.
            </p>
            <p>
                The information has been furnished by
                <a href="https://www.iana.org/assignments/service-names-port-numbers/service-names-port-numbers.xhtml">
                    Internet Assigned Numbers Authority
                </a>
            </p>
        </div>
    </article>
</template>
