<template>
    <footer class="footer p-3 b-0">
        <div class="content has-text-centered">
            <p><a href="https://gitlab.com/damn-good1/what-port"><strong>What Port?</strong></a> is an open source service of <a href="https://damngood.tech">Damn Good Tech</a>.</p>
            <p>Currently open to working with new clients.</p>
            <p><a href="https://damngood.tech">Schedule a consultation today!</a></p>
        </div>
    </footer>
</template>

<style scoped>

footer {
    margin-top: 200pt;
    bottom: 0pt;
    width: 100%;
}

</style>