<script setup lang="ts">

import PortCopyOptions from './PortCopyOptions.vue';
import { library } from '@fortawesome/fontawesome-svg-core'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import { faClipboard } from '@fortawesome/free-regular-svg-icons'

library.add(faClipboard)

const props = defineProps({
    port: { type: Number, required: true },
    proto: { type: String, required: true },
})

</script>

<template>
    <strong>{{ port }}</strong>&nbsp;{{ proto }}
    &nbsp;
    <div class="dropdown is-hoverable is-right">
        <div class="dropdown-trigger">
            <button class="button">
                <font-awesome-icon icon="far fa-clipboard" />
            </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
            <PortCopyOptions :port="port" />
        </div>
    </div>
</template>

<style scoped>
.tag-service button {
    background: none;
    border: none;
}
</style>