<script setup lang="ts">
import "bulma";
import { ref } from "vue";
import { loadServices, type Service } from "../lib/service";
import { distance } from "fastest-levenshtein"

import ServiceBlock from "./ServiceBlock.vue";

import $ from "jquery";

const searchTerm = ref("")
const foundServices = ref([] as any[])

const services = loadServices();

type ServiceResult = Service & {
    distance: number,
}

function portNumbers(service: Service) {
    return Object.keys(service.ports).map(k => service.ports[k]);
}

function uses(service: Service, port: number) {
    return portNumbers(service).includes(port)
}

function lookupTerm($e: Event) {
    $("ui.results li").remove();

    const searchTerm: string = ($e.target as any).value.trim();

    if (!(searchTerm && searchTerm.length)) {
        foundServices.value = [];
        return
    }

    const searchPort = searchTerm.match(/^\d+$/) ? parseInt(searchTerm) : null

    // Handle the term lookup differently if only a port number is given.
    if (searchPort !== null) {
        if (searchPort === 0) {
            foundServices.value = [];
            return
        }
        const foundService = services.find(service => uses(service, searchPort))
        if (!foundService) {
            foundServices.value = [];
            return
        }
        foundServices.value = [
            {
                distance: 1,
                ...foundService
            }
        ];
        return
    }

    foundServices.value = services.map(service => {
        const d1 = distance(searchTerm, service.name);
        const d2 = distance(searchTerm, service.description);
        const dist = Math.min(d1, d2);
        return {
            distance: dist,
            ...service,
        } as ServiceResult;
    }).sort((a, b) => a.distance - b.distance).filter((sr, i) => (i <= 10));
}


</script>

<template>
    <div class="block">
        <div class="container p-4">
            <input type="text" class="input is-primary"
                placeholder="Type in the name of a service (e.g. 'mysql') or a port number (e.g. '22')..."
                v-model="searchTerm" @input="lookupTerm" />
        </div>
        <div class="results" v-if="foundServices && foundServices.length">
            <ul class="results">
                <li v-for="service in foundServices">
                    <ServiceBlock :service="service" />
                </li>
            </ul>
        </div>
    </div>
</template>

<style scoped></style>