<script setup lang="ts">

import PortCopyOption from "./PortCopyOption.vue";

const props = defineProps({
    port: { type: Number, required: true },
})

</script>

<template>
    <ul class="copy-options box">
        <PortCopyOption :portFormat="`${port}`" tooltip="Standard" />
        <PortCopyOption :portFormat="`EXPOSE ${port}`" tooltip="Dockerfile" />
        <PortCopyOption :portFormat="`- '${port}:${port}'`" tooltip="docker-compose" />
    </ul>
</template>