<script setup lang='ts'>

import clipboard from "clipboard"
import { SimpleToastMessages, stm, T } from 'simple-toast-messages';
import { library } from '@fortawesome/fontawesome-svg-core'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import { faClipboard } from '@fortawesome/free-regular-svg-icons'

library.add(faClipboard)

const props = defineProps({
    portFormat: {
        type: String,
        required: true,
    },
    tooltip: {
        type: String,
        required: false,
    }
})

function doCopy() {
    clipboard.copy(props.portFormat);
    const msg = SimpleToastMessages.getInstance()
    msg.success(`${props.portFormat} was copied to your clipobard`, 2000);
}

</script>

<template>
    <li @click="doCopy">
        <div class="tooltip" v-if="tooltip">{{ props.tooltip }}</div>
        <button class="button is-dark">
            {{ props.portFormat }}
        </button>
    </li>
</template>

<style scoped>
li div button {
    width: 100%;
    display: block;
    font-family: monospace;
    font-size: 85%;
}
</style>