<script setup lang="ts">
import { loadServices, type Service } from '@/lib/service';
import PortTag from './PortTag.vue';

const props = defineProps({
    service: {
        type: Object,
        required: true,
    }
});


function entrify(obj: { [index: string]: any }) {
    const keys = Object.keys(obj);
    return keys.map(k => [k, obj[k]]).filter(([k, v]) => v);
}

</script>
<template>
    <div class="box">
        <div class="columns">
            <div class="column has-text-centered">
                <h3 class="is-size-3">{{ service.name }}</h3>
            </div>
            <div class="column">
                <span v-for="[proto, port] in entrify(service.ports)"
                    :class="`tag tag-service tag-service-${proto} m-2 is-medium`">
                    <PortTag :proto="proto" :port="port" />
                </span>
            </div>
        </div>
        <div>
            {{ service.description }}
        </div>
        <div>
            {{ service.assignmentNotes }}
        </div>
    </div>
</template>

<style scoped>
.tag-service-tcp {
    background-color: darksalmon;
}

.tag-service-udp {
    background-color: rgb(148, 211, 153);
}

.tag-service-sctp {
    background-color: rgb(155, 141, 235);
}
</style>