<script setup lang="ts">
import "bulma";
import { loadServices } from "@/lib/service";
import { ref, onMounted, computed } from "vue";
import $ from "jquery";

const ALL_SERVICES = loadServices();
const SERVICE_NAME_INTERVAL = 5000;

const heroTransition = ref(false);

const currentService = ref(getRandomServiceName());

function getRandomServiceName() {
    const filtered = ALL_SERVICES.map(service => service.description).filter(name => name && name !== "Reserved" && name !== "Unassigned");
    return filtered[Math.round(Math.random() * filtered.length)];
}

function setRandomService() {
    currentService.value = getRandomServiceName();
}

function cycleServiceName() {
    currentService.value = getRandomServiceName();
    setTimeout(() => {
        heroTransition.value = true;
        setTimeout(() => {
            cycleServiceName();
            heroTransition.value = false;
        }, SERVICE_NAME_INTERVAL);
    }, 200)
}

onMounted(() => {
    cycleServiceName();
})

</script>

<template>
    <div id="teaser-header" class="block">
        <h1 class="hero">
            What port does
            <i :class="{ 'hero-hilight': true, fadeIn: heroTransition, }">{{ currentService }}</i>
            use?
        </h1>
    </div>
</template>

<style lang='css'>
#teaser-header {
    height: 150pt;
    width: 100%;
}

.fade-out {
    transition: 1s opacity ease-out;
}

.fadeIn {
    animation: fade-in 2 linear normal;
}

@keyframes fade-in {
    0% {
        opacity: 0%;
    }

    50% {
        opacity: 50%;
    }

    100% {
        opacity: 100%;
    }
}
</style>