<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import PortSearch from './components/PortSearch.vue';
import Teaser from './components/Teaser.vue'
import Explanation from "./components/Explanation.vue"
import Footer from "./components/Footer.vue"
import SeoEmbed from './components/SeoEmbed.vue';
</script>

<template>
  <header>
    <!-- <img alt="Vue logo" class="logo" src="@/assets/logo.svg" width="125" height="125" /> -->

    <Teaser />
  </header>

  <main class="block">
    <PortSearch />
    <Explanation />
    <div class="is-hidden">
      <SeoEmbed />
    </div>
  </main>

  <Footer />
</template>

<style scoped>
.logo {
  display: block;
  margin: 0 auto 2rem;
}

nav {
  width: 100%;
  font-size: 12px;
  text-align: center;
  margin-top: 2rem;
}

nav a.router-link-exact-active {
  color: var(--color-text);
}

nav a.router-link-exact-active:hover {
  background-color: transparent;
}

nav a {
  display: inline-block;
  padding: 0 1rem;
  border-left: 1px solid var(--color-border);
}

nav a:first-of-type {
  border: 0;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  .logo {
    margin: 0 2rem 0 0;
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }

  nav {
    text-align: left;
    margin-left: -1rem;
    font-size: 1rem;

    padding: 1rem 0;
    margin-top: 1rem;
  }
}
</style>
